body{
    background-image: radial-gradient(50vw circle, #0a1633 50%, #060e21 100%);
    font-family: Inter;
    background-attachment: fixed;
}

main{
    width: 90%;
    max-width: 936px;
    margin: auto;
    align-content: center;
}

h1, h2{
    color: #FFBC21;
    margin-bottom: 32px;
}
h1{
    font-size: clamp(48px, 8vw, 96px);
}
h2{
    font-size: clamp(24px, 5vw ,50px);
}

p, a{
    color:#ffffff;
}

p, .description{
    font-size: clamp(15px, 2.5vw, 32px);
    line-height: 1.5;
}

a{
    text-decoration: none;
    font-size: clamp(16px, 2vw + 8px, 24px);
}

.description{
    color: #bfbfbf;
}

.header, .portfolio{
    text-align: center;
    margin-bottom: clamp(35px, 6.5vw + 10px, 102px);
}

.links{
    display: flex;
    justify-content: center;
    gap: clamp(40px, 3.3vw + 27px, 75px);
    font-weight: bold;
    align-items: center;
    flex-wrap: wrap;
}
.link{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.circle{
    display: flex;
    align-items: center;
    justify-content: center;
}
.blur{
    position: absolute;
    width: clamp(50px, 6.5vw + 25px, 97px);
    min-height: clamp(50px, 6.5vw + 25px, 97px);
    margin-bottom: 42px;
    background-color: transparent;
    height: auto;
    border: 5px solid #FFBC21;
    border-radius: 50%;
    z-index: 1;
    box-shadow: 0 0 clamp(12.5px, 1.25vw + 7.5px, 25px) 0px #FFBC21;
}
.icon{
    width: clamp(50px, 6.5vw + 25px, 97px);
    height: auto;
    margin-bottom: 42px;
    border: 5px solid #FFBC21;
    border-radius: 50%;
    z-index: 2;
}
span{
    width: max-content;
    position: absolute;
    top: 100%;
}


@media (max-width: 434px){
    .link{
        width: 100px;
    }
}